body
{
       background-color: green; 
    
}


#title
{

font-size: 100px;
margin-left:430px;

}

#car .model
{
margin-left:430px;
margin-top: 15px;
}


#rental
{
margin-left:430px;
margin-top: 25px;
}

#compute
{
margin-left:430px;
margin-top: 25px;



}









